---
layout: default
title: "About"
description: "Backend Developer | DoYoon Kim"
multilingual: true
nav-order: 4
---

<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <h1 class="page-heading">About</h1>

  {% include multilingual-sel.html %}

  <!-- Korean Version -->
  <div class="kr post-container">
    {% capture about_kr %}{% include about/kr.md %}{% endcapture %}
    {{ about_kr | markdownify }}
  </div>

  <!-- English Version -->
  <div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
  </div>

  <!-- Japanese Version -->
  <div class="ja post-container">
    {% capture about_ja %}{% include about/ja.md %}{% endcapture %}
    {{ about_ja | markdownify }}
  </div>
</div>
</div>
</div>
